<article class="d-flex flex-align-center">
  <div class="info-element flex-grow-1">
    <span class="mr-3">{{ produit.productName }}</span>
    <span class="mr-3">Qte: {{ produit.quantity }}</span>
    <span class="mr-3"
      >Taxes: {{ produit.ttcPrice - produit.price | currency }}</span
    >
    <span class="mr-3">Prix unitaire HT : {{ produit.price | currency }}</span>
    <span>Prix unitaire TTC: {{ produit.ttcPrice | currency }}</span>
  </div>
  <button
    class="ml-2 danger-element remove-panier-button"
    aria-labelledby="Supprimer du panier"
    (click)="removeFromPanier()"
  >
    -
  </button>
</article>
