@import "./styles.var.scss";

$colors: (
  red: $red,
  orange: $orange,
  blue: $blue,
  yellow: $yellow,
  grey: $grey,
  black: $black,
  white: $white,
);

@each $key, $val in $colors {
  .#{"" + $key}-color {
    color: $val;
  }
  .#{"" + $key}-background {
    background-color: $val;
  }
}
