@import "./design/styles.element.scss";
@import "./design/styles.color.scss";
@import "./design/styles.font.scss";
@import "./design/styles.spacing.scss";

html {
  font-size: 14px;
}

h1 {
  margin: 0;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.flex-align-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-grow-1 {
  flex-grow: 1;
}
